html, body {
    height: 100%;
    background-image: url("./background.png");
}

.navbar-brand {
    display: block;
    margin: 0 auto;
}

.dataArea {
    height: max-content;
    background-color: white;
}

.dataRow {
    background-color: white;
    border-bottom: 1px solid lightgray;
}