html, body {
    height: 100%;
    background-image: url("./background.png");
}

.navbar-brand {
    display: block;
    margin: 0 auto;
}

.dataArea {
    height: max-content;
    background-color: white;
}

.dataRow {
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.showRow {
    display: visible;
}

.hideRow {
    display: none;
}

.sortImageUp {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sortImageDown {
    -webkit-transform:rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.form-control {
    margin-top: 10px !important;
}